<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand text-white">Navbar</a>
        <a class="text-white" href="/posts/create">Create Post</a>
        <a class="text-white" href="/posts">All Posts</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>