<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <links th:replace="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/nav :: nav"></div>

<div class="row">
    <div class="col-4">
        <div class="container">

            <div class="d-flex justify-content-around">
                <a href="/dice-game/1">1</a>
                <a href="/dice-game/2">2</a>
                <a href="/dice-game/3">3</a>
                <a href="/dice-game/4">4</a>
                <a href="/dice-game/5">5</a>
                <a href="/dice-game/6">6</a>
            </div>

            <h3 class="">Actual roll: <span th:text="${rand}"></span></h3>
            <h3 class="">Your Guess: <span th:text="${guess}"></span></h3>
            <h3 class=""><span th:text="${message}"></span></h3>
        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>
